<!-- <h1 class="question1">Question</h1>
 -->

 <%=image_tag("aboutBG_2.jpg", class: "incaPhoto2") %>

<div class="questionlist">
  <ul>
  <% @questions.each do |question| %>
    <li> <%= link_to question.title, question_path(question)  %>  </li>
  <% end %>
</ul>
</div>

<br>

<div id="title2"><h1>Submit a Question</h1></div>

<div class="question_border">
  <h3>If you have any questions about the <br>Peru Dialogue of Civilization,
    feel <br>free to click the link below to ask <br>Professor Canavan a question.<br>
    She will reply pronto.</h3>
  <div class="cent">
  <p><%= link_to "Create New Question", new_question_path %></p>

    <p><%= link_to 'Back to Home', root_path %></p>

  </div>

</div>
