<!-- <h1 class="question1">Question</h1>
 -->

 <%=image_tag("aboutBG_2.jpg", class: "incaPhoto2") %>

<ul class="quest">
  <% @questions.each do |question| %>
    <li> <%= link_to question.title, question_path(question)  %>  </li>
  <% end %>
</ul>

<div id="title2"><h1>Peru Dialogue of Civilization</h1></div>

<div class="question_border">
  <h3>If you have any questions about the <br>Peru Dialogue of Civilization,
    feel <br>free to click the link below to ask <br>Professor Canavan a question.<br>
    She will reply pronto.</h3>
  <div class="cent">
  <p ><%= link_to "Create New Question", new_question_path %></p>

    <%= link_to 'Back to Home', root_path %><br>
  </div>

</div>
