<!-- <div id="aboutContainer"> -->
  <%=image_tag("inca-jungle.jpg", class: "incaPhoto2") %>
  <div id="about_title2"><h1>Peru Dialogue of Civilization</h1></div>


		<div class="about_mona"><h3>Professor Canavan is a native of Peru <br>and a Professor of Spanish
			Studies<br> at Northeastern University.<br> Every summer she leads a new group<br> of students
			on a 5 week adventure <br>through the cities of Peru.<br> They experience the sights, history<br>
			 and culture of the country.</h3></div>

		<div class="about_border"><h3>The Peru Dialogue of Civilization is an amazing Spanish immersion
			program where students will speak Spanish, participate in cultural activities and
			interact with local people. It is an exciting way to explore the Spanish language and
			to experience another culture's people, ideas, customs and beliefs. Students will
			sample all that the cities of Lima, Ica and Cuzco have to offer using the Spanish
			language. Students will complete a Service Learning project (Air Force schools) in
			which they will help Peruvian high school students to practice speaking English and
			also explain the typical day in the life of a student at an American University.
			Students from Northeastern will participate in an immersion language program at the
			Private University UNIFE. The last week of the immersion program features a visit to
			the one of the seven wonders of the world,<br> MACHU PICCHU!</h3></div>


	<!-- </div> -->
