.incaPhoto2 {
	top: 100px;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto auto;
}

.question1 {
  margin-top: 100px;
  margin-left: 25%;
  color: gold;
}

.quest {
  font-family: Times;
  font-size: 25px;
  margin-left: 21%;
  color: gold;
}

.cent {
  text-align: center;
}
// .create_new_question {
//   font-family: Times;
//   font-size: 25px;
//   margin-left: 21%;
//   color: gold;
//   text-decoration: none;
// }

// .question_home_back {
//     font-family: adventure;
//     margin-left: 21%
//     color: orange;
// }

.about_border {
	float: left;
	color: black;
	font-family: Adventure;
  font-size: 20px;
	margin: auto;
  position: absolute;
  top: 0; left: 1; bottom: 50; right: 0;
	width: 700px;
	top: 390px;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}
.question_border {
  color: black;
	font-family: Adventure;
  font-size: 30px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 50; right: 0;
	width: 600px;
	top: 400px;
	text-align: center;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}

.edit_question_border {
  color: black;
	font-family: Adventure;
  font-size: 30px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 50; right: 0;
	width: 600px;
	top: 650px;
	text-align: center;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}

.edit_testimonial_border {
  color: black;
	font-family: Adventure;
  font-size: 30px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 50; right: 0;
	width: 600px;
	top: 750px;
	text-align: center;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}

.question_border_submit {
  color: black;
	font-family: Adventure;
  font-size: 30px;
	position: absolute;
	width: 600px;
	top: 390px;
	text-align: center;
	right: 200px;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}

.about_mona {
	float: left;
	color: yellow;
	font-family: Adventure;
  font-size: 25px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 50; right: 1;
	width: 600px;
	top: 250px;
	display: inline-block;
	// background-color: white;
	// border-radius: 10px;
	// border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}
#about_title2 {
	color: black;
	font-family: Adventure;
	width: 700px;
	top: 290px;
	margin: auto;
  position: absolute;
  top: 100; left: 1; bottom: -50; right: 0;
	text-align: center;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	opacity: 0.8;
	padding: 0 5px;
	z-index: 100;
}

#title2 {
	color: black;
	font-family: Adventure;
	width: 600px;
	top: 290px;
	margin: auto;
  position: absolute;
  top: 100; left: 0; bottom: -50; right: 0;
	text-align: center;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	opacity: 0.8;
	padding: 0 5px;
	z-index: 100;
}

.question_list {
	float: left;
	color: black;
	font-family: Adventure;
  font-size: 30px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 50; right: 0;
	width: 600px;
	top: 390px;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}

.login_border {
	color: black;
	font-family: Adventure;
  font-size: 30px;
	margin: auto;
  position: absolute;
  top: -100; left: 0; bottom: 50; right: 0;
	width: 600px;
	top: 390px;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	border: solid 4px gold;
	padding: 2px;
	opacity: 0.7;
	z-index: 100;
}
